# Ignore local environment
motogp-env/
.env/

# Ignore Python cache
__pycache__/
*.pyc



# Ignore model checkpoints
models/*.joblib

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore OS / editor files
.DS_Store